
{%extends "layout.html"%}
{%block body%}
    <div class="container">
      <h1>Choose One of the Operation</h1>
      <a href="/methods/get" name="method" value="get">GET</a>
      <a href="/methods/post" name="method" value="post">POST</a>
      <a href="/methods/put" name="method" value="put">PUT</a>
      <a href="/methods/delete" name="method" value="delete">DELETE</a>
      <!-- <a href="/sample">pls reply</a> -->
      
      <!-- <form action="/getIn" method="post">
        <label for="username">UserID</label>
        <input type="text" placeholder="Enter userid" id="userid" name="userid"><br>
        <label for="username">Title</label>
        <input type="text" placeholder="Enter title" id="title" name="title"><br>
        <label for="username">Body</label>
        <input type="text" placeholder="Enter body" id="body" name="body"><br>
        <input type="submit">

      </form> -->
    </div>
{%endblock%}